@import url("https://fonts.googleapis.com/css?family=Pacifico|Sniglet&display=swap");
.dark-text-shadow {
  text-shadow: 1px 1px #0000008c;
}

.white-text-shadow {
  text-shadow: 1px 1px #ffffffa6;
}

.content {
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.content .movies-carousel {
  background-color: #00000020;
  opacity: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 0.7s ease-in;
  transition: -webkit-transform 0.7s ease-in;
  transition: transform 0.7s ease-in;
  transition: transform 0.7s ease-in, -webkit-transform 0.7s ease-in;
  -webkit-transition: opacity 0.7s ease-in;
  transition: opacity 0.7s ease-in;
}

.content .movies-carousel hr {
  background-image: -webkit-linear-gradient(left, rgba(66, 133, 244, 0.8), rgba(66, 133, 244, 0.6), rgba(0, 0, 0, 0));
  height: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.content .movies-carousel svg {
  min-height: 70vh;
  opacity: 0.3;
}

.content .movies-carousel .carousel-header {
  right: 15%;
  bottom: 65vh;
  left: 15%;
  z-index: 10;
  color: #fff;
  text-align: center;
}

.content .movies-carousel .carousel-header h3 {
  font-style: italic;
}

.content .movies-carousel .carousel-item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .movies-carousel .carousel-item .movie-poster {
  max-height: 50vh;
  margin: 0 auto;
  margin-bottom: 1%;
}

.content .movies-carousel .carousel-item .carousel-caption {
  position: unset;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  border-radius: 500px;
  background-color: #343a4029;
  padding-top: 5px;
  width: 60%;
  margin-bottom: 50px !important;
}

.content .movies-carousel .carousel-item .carousel-caption .movie-title {
  color: yellow;
  text-shadow: 1px 1px black !important;
}

.content .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1%;
}

.content .header h1 {
  margin: 0 auto;
  font-family: 'Pacifico', cursive;
}

.content .movie-search {
  padding: 2%;
}

.content .movie-search #movies img {
  height: 100%;
}

.content .cast {
  display: none;
}

.content .cast .wrap-table100 {
  margin: 0 auto;
  width: auto;
  border-radius: 10px;
  overflow: hidden;
}

.content .cast .table {
  width: 100%;
  display: table;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .content .cast .table {
    display: block;
  }
}

.content .cast .row {
  display: table-row;
  background: #fff;
}

.content .cast .row.header {
  color: #ffffff;
  background: #6c7ae0;
}

@media screen and (max-width: 768px) {
  .content .cast .row {
    display: block;
  }
  .content .cast .row.header {
    padding: 0;
    height: 0px;
  }
  .content .cast .row.header .cell {
    display: none;
  }
  .content .cast .row .cell:before {
    font-family: 'Sniglet', cursive;
    font-size: 12px;
    color: #808080;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: unset !important;
    margin-bottom: 13px;
    content: attr(data-title);
    min-width: 98px;
    display: block;
  }
}

.content .cast .cell {
  display: table-cell;
}

@media screen and (max-width: 768px) {
  .content .cast .cell {
    display: block;
  }
}

.content .cast .row .cell {
  font-family: 'Sniglet', cursive;
  font-size: 15px;
  color: #666666;
  line-height: 1.2;
  font-weight: unset !important;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
}

.content .cast .row.header .cell {
  font-family: 'Sniglet', cursive;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset !important;
  padding-top: 19px;
  padding-bottom: 19px;
}

.content .cast .row .cell:nth-child(1) {
  width: 360px;
  padding-left: 40px;
}

.content .cast .row .cell:nth-child(2) {
  width: 160px;
}

.content .cast .row .cell:nth-child(3) {
  width: 250px;
}

.content .cast .row .cell:nth-child(4) {
  width: 190px;
}

.content .cast .table,
.content .cast .row {
  width: 100% !important;
}

.content .cast .row:hover {
  background-color: #ececff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .content .cast .row {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 18px;
    padding-top: 30px;
    padding-right: 15px;
    margin: 0;
  }
  .content .cast .row .cell {
    border: none;
    padding-left: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .content .cast .row .cell:nth-child(1) {
    padding-left: 30px;
  }
  .content .cast .row .cell {
    font-family: 'Sniglet', cursive;
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    font-weight: unset !important;
  }
  .content .cast .table,
  .content .cast .row,
  .content .cast .cell {
    width: 100% !important;
  }
}

.open {
  -webkit-transform: scaleY(1) !important;
          transform: scaleY(1) !important;
  opacity: 1 !important;
}

@-webkit-keyframes mymove {
  0% {
    max-height: 0px;
  }
  100% {
    max-height: 1000px;
  }
}

@keyframes mymove {
  0% {
    max-height: 0px;
  }
  100% {
    max-height: 1000px;
  }
}
/*# sourceMappingURL=main.css.map */