@import url('https://fonts.googleapis.com/css?family=Pacifico|Sniglet&display=swap');

.dark-text-shadow {
    text-shadow: 1px 1px #0000008c;
}

.white-text-shadow {
    text-shadow: 1px 1px #ffffffa6;
}

.content {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(315deg, #E0C3FC, #B7C4FC, #8ec5fc);
    background-size: 600% 600%;
    background-repeat: repeat;
    animation: 5s ease-out 0s infinite alternate none running bg-pan-left;

    .movies-carousel {
        background-color: #00000020;
        opacity: 0;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.8s ease-in;
        transition: opacity 0.8s ease-in;

        hr {
            margin: 0px;
        }

        svg {
            min-height: 70vh;
            opacity: 0.3;
        }

        .carousel-header {
            right: 15%;
            bottom: 65vh;
            left: 15%;
            z-index: 10;
            color: #f8f9faf7;
            text-align: center;
            text-shadow: 2px 2px #00000099;

            h3 {
                font-style: italic;
                margin-bottom: 0px;
            }
        }

        .carousel-item {
            // display: flex;
            flex-direction: column;

            .movie-poster {
                // display: flex;
                max-height: 50vh;
                margin: 0 auto;
                margin-top: 1%;
                margin-bottom: 1%;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
            }

            .movie-poster:hover {
                cursor: pointer;
                box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            }

            .carousel-caption {
                margin: 0 auto;
                position: unset;
                flex-direction: column;
                padding-top: 5px;
                padding-left: 2%;
                padding-right: 2%;
                padding-bottom: 5px;
                margin-bottom: 50px !important;
                background-color: #343a4029;

                .movie-title {
                    color: yellow;
                    text-shadow: 1px 1px black !important;
                }

                .movie-description {
                    padding: 0;
                    width: 45%;
                    margin: 0 auto;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

    }

    .header {
        display: flex;
        padding-top: 1%;

        h1 {
            margin: 0 auto;
            font-family: 'Pacifico', cursive;
        }
    }

    .movie-search {
        padding: 2%;

        #movies {
            img {
                height: 100%;
            }
        }
    }

    .cast {
        display: none;

        .wrap-table100 {
            margin: 0 auto;
            width: auto;
            border-radius: 10px;
            overflow: hidden;
        }

        .table {
            width: 100%;
            display: table;
            margin: 0;
        }

        @media screen and (max-width: 768px) {
            .table {
                display: block;
            }
        }

        .row {
            display: table-row;
            background: #fff;
        }

        .row.header {
            color: #ffffff;
            background: #6c7ae0;
        }

        @media screen and (max-width: 768px) {
            .row {
                display: block;
            }

            .row.header {
                padding: 0;
                height: 0px;
            }

            .row.header .cell {
                display: none;
            }

            .row .cell:before {
                font-family: 'Sniglet', cursive;
                font-size: 12px;
                color: #808080;
                line-height: 1.2;
                text-transform: uppercase;
                font-weight: unset !important;

                margin-bottom: 13px;
                content: attr(data-title);
                min-width: 98px;
                display: block;
            }
        }

        .cell {
            display: table-cell;
        }

        @media screen and (max-width: 768px) {
            .cell {
                display: block;
            }
        }

        .row .cell {
            font-family: 'Sniglet', cursive;
            font-size: 15px;
            color: #666666;
            line-height: 1.2;
            font-weight: unset !important;

            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #f2f2f2;
        }

        .row.header .cell {
            font-family: 'Sniglet', cursive;
            font-size: 18px;
            color: #fff;
            line-height: 1.2;
            font-weight: unset !important;

            padding-top: 19px;
            padding-bottom: 19px;
        }

        .row .cell:nth-child(1) {
            width: 360px;
            padding-left: 40px;
        }

        .row .cell:nth-child(2) {
            width: 160px;
        }

        .row .cell:nth-child(3) {
            width: 250px;
        }

        .row .cell:nth-child(4) {
            width: 190px;
        }


        .table,
        .row {
            width: 100% !important;
        }

        .row:hover {
            background-color: #ececff;
            cursor: pointer;
        }

        @media (max-width: 768px) {
            .row {
                border-bottom: 1px solid #f2f2f2;
                padding-bottom: 18px;
                padding-top: 30px;
                padding-right: 15px;
                margin: 0;
            }

            .row .cell {
                border: none;
                padding-left: 30px;
                padding-top: 16px;
                padding-bottom: 16px;
            }

            .row .cell:nth-child(1) {
                padding-left: 30px;
            }

            .row .cell {
                font-family: 'Sniglet', cursive;
                font-size: 18px;
                color: #555555;
                line-height: 1.2;
                font-weight: unset !important;
            }

            .table,
            .row,
            .cell {
                width: 100% !important;
            }
        }
    }
}

.open {
    transform: scaleY(1) !important;
    opacity: 1 !important;
}

.close {
    transform: scaleY(0) !important;
    opacity: 0 !important;
}

@keyframes bg-pan-left {
    0% {
        background-position: 100% 50%
    }

    to {
        background-position: 0% 50%
    }
}

// @keyframes mymove {
//     0% {
//         max-height: 0px;
//     }

//     100% {
//         max-height: 1000px;
//     }
// }